body {
  padding: 4%;
}
.header {
  width: 100%;
  height: 90px;
  padding: 0;
  color: white;
  text-align: center;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
}
.center {
  text-align: center;
}
.heading {
  padding: 2%;
}
.Card {
  margin: auto;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(155, 152, 152, 0.2);
  border-radius: 5px;
}
.form {
  padding: 3%;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input:focus {
  border: 3px solid #555;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  background-color: white;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  outline: none;
}
select:focus {
  border: 3px solid #555;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  text-align: center;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (min-width: 100px) and (max-width: 900px) {
  input {
    width: 100%;
  }
  .image {
    display: none;
  }
  .card-div {
    width: 100%;
  }
  .Card {
    width: 90%;
  }
}
@media screen and (min-width: 1000px) {
  input {
    width: 100%;
  }
  /* .Card {
      width: 40%;
    } */
}
